*{
    margin: 0;
    padding: 0;
}
body{
    user-select: none;
    cursor: url(../picture/smouse.cur), auto;
    background-image: url(https://pic.lienav.com/i/2022/05/15/62805ca20b7d8.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    text-decoration: none;
    color: aliceblue;
    cursor: url(../picture/smouse.cur), auto;
}
h2{color: aliceblue;}
p {color: aliceblue;}
.header{
    /* background-image: url(../picture/p1.png); */
    /* background-image: url(https://pic.lienav.com/i/2022/05/15/62805ca20b7d8.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; */
    /* height: 100vh; */
    min-height: 100vh;
}
.head{
    padding: 30% 0 10% 8%;
    /* padding-top: 30%;
    padding-left: 8%; */
    /* padding: 55vh 5vh 27vh 10vh; */
}
table td{
    padding: 10px;
}
h1.tit{
    font-size: 3.5em; 
    color: aliceblue; 
}
p.fushuhang{
    text-align: center;
    font-size: 1.15em;
    color: aliceblue;
}
.zs{
    color: rgb(193, 193, 193);
}
.bg{
    text-align: center;
    background: linear-gradient(200deg,#b1f4cf,#9890e3);
    background-attachment: fixed;
    box-shadow: 0 0 50px white;
}

.about{
    height: 100%;
    padding: 10vh 0 35vh;
    line-height: 2em;
}
.sth{
    min-height: 70vh;
    padding: 10vh;
}
.history{
    height: 100%;
    padding: 10vh;
}
p.xiangqing{
    padding-right: 0;
}
.ending{
    /* background-image: url(../picture/p1.png); */
    /* background-image: url(https://pic.lienav.com/i/2022/05/15/62805ca20b7d8.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; */

    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
table caption{
    padding: 10px;
    font-size: 1.5em;
}
table td{
    padding:5px;
    color:aliceblue;
}
table th{
    padding:5px;
    color:aliceblue;
}
table td a{
    color:aliceblue;
    cursor: url(../picture/smouse.cur), auto;
}
.borderr{
    /* border-bottom: 3px solid aliceblue; */
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    padding: 5px 12px;
}
.borderr:hover{
    box-shadow: 5px 5px 15px rgba(128, 128, 128, 0.43);
}
