*{
    margin: 0;
    padding: 0;
}
body{
    user-select: none;
}
h1{
    background-image: url(../picture/p1.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 20%;
    height: 100vh;
    text-align: center;
}
h1 span{
    font-size: 150px;
    color: aliceblue; 
}