.box{
    width: 300px;
    height: 300px;
    background-color: rgba(240, 248, 255, 0.2);
    border-radius: 20px;
    margin: 15px;
    /* overflow: hidden; */
}
.box:hover{
    box-shadow: 5px 5px 15px rgba(128, 128, 128, 0.43);
}

.part1{
    width: auto;
    height: 51.5%;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* background-color: rgba(240, 248, 255, 0.2); */
    /* background-color: rgba(128, 128, 128, 0.1); */
    /* border: 1px black solid; */
}
.part2{
    width: auto;
    background-color: rgba(130, 130, 130, 0.173);
    border-radius: 20px;
    margin: 20px;
    padding: 7%;
    /* border: 1px solid ; */
}
.bg01{
    background-image: url(https://pic.lienav.com/i/2022/05/15/62805ca551454.png);
}
.bg02{
    background-image: url(https://pic.lienav.com/i/2022/05/29/629306ddf151d.png);
}
.bg02 p{
    position: absolute;
    bottom: 0;
    left: 20%;
}
.bg02 p a:hover{
    color:wheat;
    text-shadow: 0 0 10px black;
}