* {
    padding: 0;
    margin: 0;
    cursor: url(../picture/smouse.cur), auto;
}
a {
    text-decoration: none;
}
body {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    user-select: none;
}
h2{
    color: aliceblue;
    text-align: left;
}
span{
    font-size: 2em;
}
caption{
    margin: 25px;
}
table caption a{
    font-size: 2em;
    font-weight: 550;
    color: white;
}
table caption a:hover{
    color: wheat;
}
table td{
    padding:5px;
    color: #000;
}
table td a{
    color: #000;
}
.borderr{
    /* border-bottom: 3px solid aliceblue; */
    background-color: rgba(246, 246, 246, 0.375);
    border-radius: 10px;
    padding: 3px;
}
.borderr:hover{
    box-shadow: 5px 5px 15px rgba(128, 128, 128, 0.43);
}

