* {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
body {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    user-select: none;
    cursor: url(../picture/smouse.cur), auto;
}
table caption{
    padding: 10px;
    font-size: 1.5em;
}
table td{
    padding:5px;
    color: #000;
}
table td a{
    color: #000;
    cursor: url(../picture/smouse.cur), auto;
}
.borderr{
    /* border-bottom: 3px solid aliceblue; */
    background-color: rgba(246, 246, 246, 0.375);
    border-radius: 10px;
    padding: 3px;
}
