* {
    padding: 0;
    margin: 0;
    cursor: url(../picture/smouse.cur), auto;
}
a,abbr{
    text-decoration: none;
}
body {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    background-attachment: fixed;
    user-select: none;
}
h2{
    color: aliceblue;
    text-align: left;
}
span{
    font-size: 2em;
}
table{
    margin: 30px;
}
caption{
    margin: 20px;
}
table caption a{
    font-size: 2em;
    font-weight: 550;
    color: white;
}
table caption a:hover{
    color: wheat;
}
table td{
    padding:5px;
    color: #000;
}
.borderr{
    color: rgba(128, 128, 128, 0.5);
}
.borderr:hover{
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.1);
}

