*{
    margin: 0;
    padding: 0;
}
body{
    user-select: none;
}
.header{
    /* background-image: url(../../picture/p1.png); */
    background-image: url(https://pic.lienav.com/i/2022/05/15/62805ca20b7d8.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.head{
    padding-top: 30%;
    padding-left: 8%;
}
h1{
    font-size: 3.5em; 
    color: aliceblue; 
}
.jies{
    padding-left: 25%;
    font-size: 1.15em;
    color: aliceblue;
}
.zs{
    color: rgb(193, 193, 193);
}
.abouter{
    height: 100vh;
}
.about{
    text-align: center;
    padding: 1em;
    margin: 5em 0;
    line-height: 2em;
}
.buttonn{
    position: fixed;
    right: 30px;
    bottom: 30px;
}
.buttonn a{
    text-decoration: none;
    padding: 10px 15px;
    color: aqua;
    font-size: large;
    border-radius: 20px;
    box-shadow: 0 0 25px aqua;
}