.coffeeshop{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: url(../picture/smouse.cur), auto;
    transition: 1s;
}

.coffeecard{
    margin: 100px;
    padding: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(-30deg, #a8edea 0%, #fed6e3 100%);
    border-radius: 50px;
    background-attachment: fixed;
    user-select: none;
    transition: 1s;
    opacity: 0;
}
/* table{
    border: 1px black solid;
}
table td{
    border: 1px black solid;
} */
caption{
    color: white;
    font-size: 2em;
    font-weight: 600;
}
.coffeetr{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.coffeema{
    height: 250px;
    width: 250px;
    background-image: url(../picture/payqr.png);
    /* https://pic.lienav.com/i/2022/05/26/628f19e63acd6.png */
    background-size: cover;
    /* border: 1px black solid; */
}
.coffeewords{
    /* padding-left: 20px; */
    width: 200px;
    text-align: center;
    line-height: 1.4em;
    letter-spacing: 0.1em;
    font-size: 1.1em;
    color: rgb(136, 136, 136);
}
.coffeespan{
    font-size: 0.9em;
}