.history-container{
    min-width: 500px;
    padding: 25px;
    
    backdrop-filter: blur(15px) brightness(0.9);
    /* border: 1px solid red; */
    border-radius: 15px;
}

h4{
    color: bisque;
    margin: 5px;
}

.his-text{
    color: beige;
    margin: 10px;
    padding: 5px;
}