@charset "UTF-8";
@import url("https://zsftcdn.zeoseven.com/cn/62/main/result.css");
* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  cursor: url(bin/smouse.cur), none;
}

:root {
  --colorW: white;
  --colorB: black;
  --body-bg: rgba(0, 0, 0, 0.3);
  --body-animation-bg: rgba(0, 0, 0, 0.3);
  --snow-opacity: 0;
  --loader-index: -100;
  --loader-opacity: 0;
  --loader-heart-opacity: 1;
  --loader-welcome-opacity: 0;
  --svg-bg: url("bin/bg_day.svg");
  --container-bg: rgb(255, 255, 255);
  --ribbon-to-bottom: -64px;
  --tooltip-display: flex;
  --profile-link-bg: rgba(245, 245, 245, 1);
  --project-bg: rgba(245, 245, 245, 1);
  --porject-box-shadow-1: #ddd;
  --porject-box-shadow-2: #fff;
  --project-pic-brightness: 1;
  --project-info-bg: rgba(255, 255, 255, 1);
  --paypage-index: -1;
  --paypage-opacity: 0;
}
:root:has(#darkMode:checked) {
  --colorW: black;
  --colorB: white;
  --body-bg: rgba(0, 0, 0, 0.9);
  --body-animation-bg: rgba(0, 0, 0, 0.9);
  --svg-bg: url("bin/bg_dark.svg");
  --container-bg: rgba(30, 30, 30, 0.9);
  --profile-link-bg: rgba(40, 40, 40, 1);
  --project-bg: rgb(40, 40, 40);
  --porject-box-shadow-1: #1f1f1f;
  --porject-box-shadow-2: #222;
  --project-pic-brightness: 0.6;
  --project-info-bg: rgba(30, 30, 30, 1);
}
:root:has(#snow:checked) {
  --snow-opacity: 1;
}
:root:has(#pay:focus-within) {
  --paypage-index: 100;
  --paypage-opacity: 1;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--colorB);
  border-radius: 5px;
}

@font-face {
  font-family: "Yozai";
  src: url("bin/Yozai-Bold.ttf") format("truetype");
}
html,
body {
  scroll-behavior: smooth;
}

body {
  background-size: cover;
  background-image: url("bin/bg.pro.jpg");
  background-color: var(--body-bg);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
  animation: body-bg 2s linear;
  transition: all 0.3s linear;
}

.container {
  transition: all 0.3s linear;
  animation: container-bg linear forwards;
  animation-timeline: scroll();
}

#loader {
  height: 100vh;
  width: 100vw;
  background-color: black;
  background: radial-gradient(circle at center, rgb(36, 36, 36), black);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: var(--loader-index);
  opacity: var(--loader-opacity);
  transition: all 0.5s ease-in-out;
  position: fixed;
  top: 0;
}
#loader .heart {
  width: 280px;
  height: 220px;
  opacity: var(--loader-heart-opacity);
  display: flex;
  justify-content: space-between;
  position: absolute;
  transition: inherit;
}
#loader .heart span {
  --c: plum;
  --h: 50%;
  --t: 25%;
  background-color: var(--c);
  width: 20px;
  border-radius: 10px;
  position: relative;
  height: var(--h);
  top: var(--t);
  animation: beating 1s infinite;
}
#loader .heart span:nth-child(1), #loader .heart span:nth-child(9) {
  --c: lightcoral;
  --h: 60px;
  --t: 44px;
}
#loader .heart span:nth-child(2), #loader .heart span:nth-child(8) {
  --c: lightskyblue;
  --h: 120px;
  --t: 12px;
}
#loader .heart span:nth-child(3), #loader .heart span:nth-child(7) {
  --c: lightgreen;
  --h: 160px;
  --t: 0;
}
#loader .heart span:nth-child(4), #loader .heart span:nth-child(6) {
  --c: gold;
  --h: 180px;
  --t: 16px;
}
#loader .heart span:nth-child(5) {
  --c: plum;
  --h: 188px;
  --t: 32px;
}
#loader .welcome {
  color: white;
  font-size: 36px;
  letter-spacing: 5px;
  opacity: var(--loader-welcome-opacity);
  position: absolute;
  transition: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
#loader .welcome span {
  margin: 5px;
}
#loader .welcome span:nth-child(2) {
  font-size: 30px;
}
#loader .welcome span:nth-child(3) {
  font-size: 81px;
}
#loader .font {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  opacity: 0;
  font-size: 48px;
  font-family: "baotuxiaobaiti";
}

#home {
  height: 90vh;
  position: relative;
}
#home #title {
  position: absolute;
  top: 20%;
  left: 20%;
  font-size: 48px;
  font-family: "Yozai";
  font-family: "baotuxiaobaiti";
  color: white;
}
#home #title span:first-child {
  font-size: 72px;
  position: relative;
  left: -68px;
  top: 48px;
}

#navi {
  z-index: 100;
  position: sticky;
  left: 50%;
  top: 20px;
}
#navi .ribbon {
  width: -moz-fit-content;
  width: fit-content;
  align-content: center;
  margin: 2.5vh auto;
  padding: 0 28px 0 20px;
  background-color: rgba(0, 0, 0, 0.36);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.64);
}
#navi .ribbon ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navi .ribbon ul div,
#navi .ribbon ul li {
  color: white;
  padding: 5px 8px;
  margin: 8px 5px;
  font-weight: 600;
}
#navi .ribbon ul li {
  list-style: none;
  border-radius: 8px;
  transition: all 0.3s linear;
}
#navi .ribbon ul li:nth-of-type(-n+3):hover {
  background-color: plum;
}
#navi .ribbon ul li:nth-of-type(4) #lang,
#navi .ribbon ul li:nth-of-type(4) #snow, #navi .ribbon ul li:nth-of-type(6) #lang,
#navi .ribbon ul li:nth-of-type(6) #snow {
  display: none;
}
#navi .ribbon ul li:nth-of-type(4) #lang:checked + label ion-icon,
#navi .ribbon ul li:nth-of-type(4) #snow:checked + label ion-icon, #navi .ribbon ul li:nth-of-type(6) #lang:checked + label ion-icon,
#navi .ribbon ul li:nth-of-type(6) #snow:checked + label ion-icon {
  color: lightblue;
}
#navi .ribbon ul li:nth-of-type(5) #darkMode {
  display: none;
}
#navi .ribbon ul li:nth-of-type(5) #darkMode:checked + label ion-icon:nth-child(1) {
  opacity: 0;
  z-index: 0;
}
#navi .ribbon ul li:nth-of-type(5) #darkMode:checked + label ion-icon:nth-child(2) {
  opacity: 1;
  z-index: 1;
}
#navi .ribbon ul li:nth-of-type(5) label ion-icon:nth-child(1) {
  opacity: 1;
  z-index: 1;
}
#navi .ribbon ul li:nth-of-type(5) label ion-icon:nth-child(1):hover {
  transform: translate(-50%, -50%) rotate(0.125turn);
}
#navi .ribbon ul li:nth-of-type(5) label ion-icon:nth-child(2) {
  opacity: 0;
  z-index: 0;
  color: lightblue;
}
#navi .tooltip {
  display: var(--tooltip-display);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px 10px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.36);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.64);
  position: absolute;
  top: var(--ribbon-to-bottom);
  left: 50%;
  transform: translate(-10%, -60%);
  transition: all 0.3s linear;
}
#navi .tooltip span {
  width: 80px;
  padding: 6px 10px;
  margin: 3px 0px;
  text-align: center;
  font-weight: lighter;
  border-radius: 8px;
  text-wrap: nowrap;
  transition: all 0.3s linear;
}
#navi .tooltip span:hover {
  background-color: plum;
}
#navi .tooltip span a {
  color: white;
}

#profile {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#profile .information {
  border-radius: 20px;
  padding: 36px;
  margin: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#profile .information p {
  color: var(--colorB);
  line-height: 2em;
  transition: all 0.3s linear;
}
#profile .information section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  min-height: 44px;
  position: relative;
}
#profile .information section .picture {
  border-radius: 50%;
}
#profile .information section .picture .image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 5px solid white;
  background-image: url("bin/profile_girl.pro.jpg");
  background-size: cover;
}
#profile .information section .self p {
  color: var(--colorB);
  padding-left: 56px;
}
#profile .information section .self p:first-child {
  font-size: 36px;
  position: relative;
}
#profile .information section:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
#profile .information section:nth-child(2) .link {
  width: 50px;
  height: 50px;
  margin: 5px;
  color: var(--colorB);
  background-color: var(--profile-link-bg);
  border: 2px solid rgba(255, 255, 255, 0.64);
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
#profile .information section:nth-child(2) .link:hover {
  width: 110px;
  box-shadow: 5px 5px 8px var(--porject-box-shadow-1);
}
#profile .information section:nth-child(2) .link ion-icon {
  color: var(--colorB);
  position: relative;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}
#profile .information section:nth-child(2) .link ion-icon:hover {
  background-color: transparent;
}
#profile .information section:nth-child(2) .link p {
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
}

#project {
  padding-top: 100px;
  background-color: var(--project-bg);
  transition: all 0.3s linear;
}
#project .exhibition {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  padding: 36px 0 100px;
}
#project .exhibition .box {
  height: 250px;
  width: 300px;
  margin: 0 15px 30px;
  border-radius: 12px;
  background-color: var(--project-info-bg);
  transition: all 0.3s linear;
  overflow: hidden;
}
#project .exhibition .box:hover {
  box-shadow: 12px 12px 25px var(--porject-box-shadow-1), -12px -12px 25px var(--porject-box-shadow-2);
}
#project .exhibition .box .pic {
  height: 160px;
  width: inherit;
  background-repeat: no-repeat;
  filter: brightness(var(--project-pic-brightness));
}
#project .exhibition .box .info {
  padding: 0 16px;
  -webkit-mask-image: -webkit-linear-gradient(right, transparent 1%, white 20%);
          mask-image: -webkit-linear-gradient(right, transparent 1%, white 20%);
}
#project .exhibition .box .info h2 {
  font-size: large;
  margin: 6px 0;
}
#project .exhibition .box .info h2 .beta {
  font-size: 12px;
  padding: 2px 8px 2px;
  margin: 0 10px;
  color: rgb(0, 204, 0);
  border: 1px rgb(0, 204, 0) solid;
  border-radius: 30px;
  position: relative;
  top: -2px;
}
#project .exhibition .box .info p:nth-of-type(1) {
  font-size: 14px;
  text-wrap: nowrap;
}
#project .exhibition .box .info p:nth-of-type(2) {
  color: gray;
  margin: 6px 0;
  font-size: 12px;
}

#copyright {
  color: var(--colorB);
  font-size: small;
  line-height: 1.7em;
  text-align: center;
  padding: 10px;
}
#copyright span {
  padding: 0 2px;
  color: gray;
}

#paypage {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.3s linear;
  z-index: var(--paypage-index);
  opacity: var(--paypage-opacity);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#paypage .paycard {
  max-width: 70%;
  padding: 10px 30px 20px;
  border: 1px solid black;
  border-radius: 24px;
  background-color: var(--porject-box-shadow-1);
}
#paypage .paycard h1 {
  margin: 10px;
}
#paypage .paycard li {
  color: var(--colorB);
  margin: 8px 0;
  padding-left: 10px;
  letter-spacing: 1px;
  list-style: circle;
}
#paypage .paycard .qrcard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
#paypage .paycard .qrcard .qr {
  height: 275px;
  width: 250px;
  margin: 12px;
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: -25px -11px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
#paypage .paycard .qrcard .qr:nth-child(1) {
  background-image: url("bin/pay_wechat.png");
}
#paypage .paycard .qrcard .qr:nth-child(2) {
  background-image: url("bin/pay_alipay.png");
}

h1 {
  font-size: 36px;
  color: var(--colorB);
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: 20px auto;
  padding: 0 20px;
  border-left: 6px solid plum;
}

a {
  padding: 0;
  margin: 0;
  color: var(--colorB);
  text-decoration: none;
}

ion-icon {
  color: var(--textColor);
  padding: 5px;
  font-size: 24px;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%) rotate(0turn);
  transition: all 0.3s linear;
}
ion-icon:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.fade-in {
  animation: typewriter_fadeIn 1.25s ease-in forwards;
}

.canvas {
  opacity: var(--snow-opacity);
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: all 0.3s linear;
}

@keyframes beating {
  0%, 30% {
    height: var(--h);
    top: var(--t);
    background-color: var(--c);
    filter: blur(0);
  }
  60%, 70% {
    height: 50%;
    top: 25%;
    background-color: plum;
    /* 模糊度 */
    filter: blur(5px);
  }
}
@keyframes body-bg {
  0% {
    background-color: black;
  }
  100% {
    background-color: var(--body-animation-bg);
  }
}
@keyframes container-bg {
  0% {
    background-color: rgba(0, 0, 0, 0);
    background-image: url("bin/blank.svg");
  }
  30%, 100% {
    background-color: var(--container-bg);
    background-image: var(--svg-bg);
  }
}
@keyframes typewriter_fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 1000px) {
  body {
    background-position: right 15% top;
  }
}
@media screen and ((max-width: 500px) or (max-height: 700px)) {
  #loader .font {
    font-size: 36px;
  }
  #home #title {
    font-size: 36px;
  }
  #home #title span:first-child {
    font-size: 76px;
    left: -56px;
    top: 36px;
  }
  #profile {
    padding-top: 36px;
  }
  #profile .information {
    padding: 10px;
    overflow: hidden;
  }
}
@media screen and (max-width: 500px) {
  #home #title {
    top: 50%;
  }
}
@media screen and (max-height: 700px) {
  #home #title {
    top: 6%;
  }
}/*# sourceMappingURL=main.css.map */